<!DOCTYPE html>
<html lang="es" data-th-fragment="layout(titulo, cuerpo)">

<head>
	<title data-th-replace="${titulo}">Donar</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="http://localhost:35729/livereload.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand me-5" href="/">Donaciones</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/donacion/general">Donación General</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/donacion/anonima">Donación Anónima</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/donacion/socio">Mensualidad Socio</a>
					</li>
					<li class="nav-item" data-sec-authorize="isAuthenticated()">
						<a class="nav-link" href="/reporte/donaciones">Reporte Donaciones</a>
					</li>
				</ul>

				<form action="/logout" method="post" class="d-flex align-items-center" data-bs-theme="light" data-sec-authorize="isAuthenticated()">
					<label class="me-3 text-white">Bienvenido <span data-sec-authentication="name">Bob</span></label>
					<button class="btn btn-danger" type="submit">Salir</button>
					<input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" />
				</form>
				<form action="/ingresar" method="post" class="d-flex" data-bs-theme="light" data-sec-authorize="!isAuthenticated()">
					<input name="username" class="form-control me-2" type="text" placeholder="usuario" />
					<input name="password" type="password" class="form-control me-2" placeholder="contraseña" />
					<button class="btn btn-danger" type="submit">Ingresar</button>

					<input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" />
				</form>


			</div>
		</div>
	</nav>

	<div data-th-replace="${cuerpo}"></div>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link data-th-href="@{/css/estilo.css}" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>