<!DOCTYPE html>
<html lang="es" data-th-replace="~{layout :: layout(~{:: //title}, ~{:: //main})}">
<head>
	<title>Aporte Mensual Socio</title>	
</head>
<body>
	<main class="formulario w-100 m-auto py-5 text-center">
		<img class="mb-4 w-25" src="/images/logo.png" alt="Logo">
		<h1 class="h3 mb-3 fw-normal">Dona esperanza a quien no tiene voz</h1>
		
		<form action="" method="post" enctype="multipart/form-data" data-th-object="${form}">
			<div class="form-floating">
				<input data-th-field="*{rut}" type="text" class="form-control" id="floatingRut" placeholder="16.444.666-K">
				<label for="floatingRut">RUT</label>
			</div>			
			<div class="form-floating">
				<input data-th-field="*{monto}" type="number" class="form-control" id="floatingMonto" placeholder="50000">
				<label for="floatingMonto">Monto</label>
			</div>
			<div class="form-floating">
				<input name="comprobante" type="file" class="form-control" id="floatingComprobante" />
				<label for="floatingComprobante">Comprobante</label>
			</div>

			<button class="btn btn-primary w-100 py-2" type="submit">Registrar Donación</button>
			
			<input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" />
			
			<p class="mt-5 mb-3 text-body-secondary">© 2024–2025</p>
		</form>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>