<!DOCTYPE html>
<html lang="es" data-th-replace="~{layout :: layout(~{:: //title}, ~{:: //main})}">

<head>
	<title>Error</title>
</head>

<body>
	<main class="formulario w-100 m-auto py-5 text-center">
		<img class="mb-4 w-25" src="/images/logo.png" alt="Logo">
		<h1 class="h3 mb-3 fw-normal">Se produjo un error al procesar la donación</h1>
		<p>Por favor, comuníquese con nosotros</p>
		
		<p><strong data-th-text="${error}"></strong></p>

		<p class="mt-5 mb-3 text-body-secondary">© 2024–2025</p>		
	</main>
</body>

</html>